<div class="w-full text-[#4b7173] flex flex-col lg:grid lg:grid-cols-11">
  <div class="lg:col-span-4 pt-10 flex py-6 gap-4 lg:gap-8 xl:px-6 px-3 items-start justify-center flex-col bg-[#fffefc]">
    <h3 class="w-full text-2xl text-center lg:text-start">EXAMINĂRI PSIHOLOGICE:</h3>
    <ul class="grid gap-3 px-4 list-disc lg:px-8 xl:px-20">
      <li>OBȚINERI PERMIS CONDUCĂTOR AUTO ACTEGORII: A, B, B+E, C, C+E, D, D+E, TR</li>
      <li>CONTROL PERIODIC</li>
      <li>PENTRU ANGAJARE</li>
      <li>PORT ARMĂ LETALĂ ȘI NELETALĂ</li>
      <li>PROFIL PERSONALITATE</li>
      <li>DOSAR MEDICAL</li>
      <li>PSIHODIAGNOSTIC</li>
    </ul>
    <h3 class="w-full text-2xl text-center lg:text-start">CONSILIERE PSIHOLOGICĂ & PSIHOTERAPIE:</h3>
    <ul class="grid gap-3 px-4 list-disc lg:px-8 xl:px-20">
      <li>pentru: copii/ adolescenți/ adulți/ cupluri</li>
    </ul>
  </div>
  <div class="lg:col-span-3 min-h-[12rem] bg-center bg-[url('./assets/img/new-life-offer.jpg')] bg-cover">
  </div>
  <div class="lg:col-span-4 pt-10 flex py-6 gap-8 xl:px-6 px-3 items-start justify-center flex-col bg-[#fffefc]">
    <h3 class="w-full text-2xl text-center lg:text-start">PSZIHOLÓGIAI VIZSGÁLATOK:</h3>
    <ul class="grid gap-3 px-4 list-disc lg:px-8 xl:px-20">
      <li>HAJTÁSI ENGEDÉLYHEZ: A, B, B+E, C, C+E, D, D+E, TR KATEGÓRIA</li>
      <li>PERIÓDIKUS VIZSGÁLATOK</li>
      <li>ALKALMAZÁSHOZ</li>
      <li>FEGYVERTARTÁSI ENGEDÉLYHEZ</li>
      <li>SZEMÉLYSÉG PROFIL</li>
      <li>ORVOSI DOSSZIÉHOZ</li>
      <li>PSZIHOLÓGIAI DIAGNÓZIS</li>
    </ul>
    <h3 class="w-full text-2xl text-center lg:text-start">Pszichológiai tanácsadás és PSZICHOTERÁPIA</h3>
    <ul class="grid gap-3 px-4 list-disc lg:px-8 xl:px-20">
      <li>gyerekek, tinédzserek, felnőttek és párok részére</li>
    </ul>
  </div>
</div>