<div class="flex items-center flex-col md:flex-row justify-center">
  <hr class="border-b md:hidden border-solid my-8 border-b-[#4b7173] w-full">
  <div class="">
    <img class="max-h-44" src="../../assets/img/logo-sandor.jpg" alt="">
  </div>
  <div class="text-center grid gap-6 md:py-14 py-4 md:w-1/2">
    <h2 class="text-xl md:text-3xl text-[#4b7173]">CONTACT</h2>
    <address>
      <a href="tel:+40746549688" class="underline text-lg px-4 text-center md:text-4xl text-[#4b7173]">+40 (746) 549 688</a>
    </address>
    <h3 class="font-extralight text-xl md:text-2xl text-[#4b7173]">Strada Eroilor 5, Miercurea Ciuc 530003, Romania</h3>
  </div>
  <div class="">
    <img class="max-h-44" src="../../assets/img/logo-apar.png" alt="">
  </div>
</div>
