<div>
  <div class="flex items-center gap-4 flex-col justify-center w-full h-52 bg-[#fffefc]">
    <h1 class="font-extralight lg:text-5xl text-3xl xl:text-7xl text-[#4b7173]">CABINET DE PSIHOLOGIE</h1>
    <h3 class="text-sm px-4 text-center md:text-lg text-[#4b7173]">Centrul Internațional de Psihologie și Psihoterapie NEW LIFE THERAPY</h3>
    <h3 class="text-xs md:text-base text-[#4b7173]">MIERCUREA CIUC, str. EROILOR nr. 5/A</h3>
  </div>
  <div class="flex items-center gap-4 flex-col justify-center w-full h-52 bg-[#4b7173]">
    <h1 class="font-extralight lg:text-5xl text-3xl xl:text-7xl text-[#fffefc]">PSZIHOLÓGIAI RENDELŐ</h1>
    <h3 class="text-sm px-4 text-center md:text-lg text-[#fffefc]">NEW LIFE THERAPY Pszihológiai és Pszihoterápiai Nemzetközi Központ</h3>
    <h3 class="text-xs md:text-base text-[#fffefc]">CSIKSZEREDA, HŐSÖK UTCA 5/A szám</h3>
  </div>
</div>